@import "variable";

.login{
    display: flex;
    align-items: center;  
    justify-content: center;
    margin-top: 50px;
      
}

@import "left_side";
@import "right_side";

@media screen and (max-width:500px){
    .login{
        margin-top: 30px;
    }
    .left_part{
        width: 150px;
        input{
            font-size: 10px;
        }
        button{
            width: 50px;
            font-size: 10px;
        }
    }
    
    .right_side{
        img{
            height: 100px;
        }
    }
}